*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
:root{
    --bd-color: rgb(119,184,15);
    --gray-color:rgb(90,51,51);
    --lightblue-color:rgb(37,66,82);
    --orange-color: rgb(255,112,41);
    --light-color:rgb(235,243,237);
    --darkyellow-color:rgb(238,204,104);
    --font-size:34px;
    
}
/* head */
.head{
    width: 100%;
    background-color: rgb(255,112,41);
    font-family:monospace;
    margin-bottom: 20px;
    
}
.headinner{
    width: 80%;
    padding: 10px;
    align-items: center;
    /* border: 1px solid red; */
    font-size: 18px;
    
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
}
.headbox1{
    display: flex; 
    
}
.phone i{
    margin-right: 10px;
    /* padding: 7px 7px; */
    color: white;
}
.media a{
    margin-left: 10px;
    color: white;
    padding: 10px 7px;
}
/* headcontain */
.energy{
    width: 100%;
    margin-bottom: 50px;
}
.energyinner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.energybox{
    width: 60%;
    display: flex;

}
.energybox img{
    width: 100%;
}

.info {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 12px;
    
}

.info i {
    font-size: 32px;
    color: #7ac143;
}

.info strong {
    /* display: block; */
    font-size: 16px;
}

.info p {
    font-size: 14px;
    color: #555;
}

/* button */
.info1 button {
    padding: 12px 22px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    /* cursor: pointer; */
    border-radius: 3px;
}


/* navar */
.navar{
    width: 100%;
    position: absolute;
    top: 150px;
    left: 0;
    z-index: 99;
   
}
 /* .navar {
    position: sticky;
    top: 0;
    z-index: 1000;
} */

.navarinner{
    width: 80%;
     padding-left: 50px;
    background-color: var(--bd-color);
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    /* padding: 15px; */
   
}
.menu a{
     list-style-type: none;
     text-decoration: none;
     color:white;
}
.menu li{
   
    /* margin-left: 20px; */
    /* width: 70%; */
    display: inline-block;
    justify-content: space-between;
    /* gap: 20px; */
    /* padding: 20px; */
    margin: 0 20px;
    padding: 10px 20px 0 0;
     font-size: 20px;
     color: white;
}
.navarbox1{
    /* width: 20%; */
    font-size: 20px;
    padding: 20px;
    color: white;
}

.navarbox i{
    font-size: 16px;
    color: white;
}
.serv{
    position: relative;
    
}
.dropdown{
    position: absolute;
    width: 260px;
    padding: 0 5px;
    top: 49px;
    list-style-type: none;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;  
}
.dropdown-item{
    margin-bottom: 7px;
    border-bottom: 1px solid white;    
}

.serv:hover .dropdown{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color:var(--bd-color);
    border-radius: 7px;
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);
}
.serv1{
    position: relative;
}
.dropdown1{
    position: absolute;
    width: 260px;
    top: 2px;
    left: 235px;
    padding: 15px 0 0 12px;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.dropdown-item1{
    padding: 0 10px;
    padding: 10px;
}
.serv1:hover .dropdown1{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color:var(--bd-color);
    border-radius: 7px;
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);

}

/* content image */
.image{
    width: 100%;
    height: 600px;
    /* margin-bottom: 50px; */
    /* border: 1px solid red; */
    background-image: url(/image/slider-default3.jpg);

    background-repeat: no-repeat; 
    background-size:cover;
    
}
.imageinner{
    width: 80%;
    /* height: 600px; */
    margin: 0% auto;
    align-content: center;

}
.iitem {
    position: relative;
    top: 200px;  
    /* align-items: center; */
    color: white;
    /* padding: 100px ; */
    /* margin-top: 70px; */
    /* margin-bottom: 70px; */
}
.iitem h1{
    font-size: 66px;
    margin-bottom: 15px;
}
.iitem p{
    margin-bottom: 10px;
    font-size: 18px;

}
.more button{
    border: 0;
    padding: 20px 35px;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 700;
}
/* OUR FEATURES */
.rakesh{
    width: 100%;
    padding: 30px 0;
    margin-bottom: 50px;
}
.rakeshinner{
    width: 80%;
    margin: 0 auto;
}
.ourbox{
    text-align: center;
    margin-bottom: 20px;
}
.ourbox p{
    color: var(--bd-color);
    margin-bottom: 5px;
}
.ourbox h1{
    width: 80%;
    margin: 0 auto;
    /* margin-left: 400px; */
    align-content: center;
    align-items: center;
    font-size: 49px;
    font-weight: 600;
    line-height: 1.1em;
    color: #254252;
    padding: 15px 25px;
}
.ourbox2{
    
    
    display: flex;
    justify-content: space-between;


}
.ouritem{
    /* border: 1px solid red; */
    width: 23%;
    height: 350px;
    border-radius: 12px;
    background-color: var(--bd-color);

}
.ouritem img{
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius:50%;
    margin: 25px auto 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ouritem h2{
    padding: 10px;
    text-align: center;
    color: white;

}
.ouritem p{
    text-align: center;
    font-size: 17px;
    color: white;
}
/* about our company */
.about{
    width: 100%;
    margin-bottom: 50px;
}
.aboutinner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.aboutbox{
   width: 45%;
}
.design1 img{
    width: 75%;
    height: 550px;
    border-radius: 12px;
}
.design2 img{
    position: absolute;
    top: 1405px;
    left: 450px;
    z-index: 2;
}
.design3{
    position: absolute;
    top: 1630px;
    left: 409px;
    z-index: 3;
    border-radius: 30px;

}
.aboutbox h5{
    color: var(--bd-color);
    font-size: 17px;
    margin-bottom: 10px;
    
}
.aboutbox h1{
    margin-top: 10px;
     font-size: 49px;
    font-weight: 600;
    line-height: 1.1em;
    color: #254252;
    margin-bottom: 25px;
}
.aboutbox p{
    color: rgb(51,51,77);
    line-height:25px;
    margin-bottom: 20px;
}
/* solar */
.solar{
    margin-bottom: 30px;
}
.solar i{
    line-height:29px;
    font-size: 20px;
    color: rgb(240,89,49);
}
.solar h4{
     color: rgb(51,51,77);
     line-height:29px;
     font-size: 18px;    
}
.button1{
    background-color: var(--bd-color);
    color: white;
    border: 0;
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 12px;
    margin-right: 15px;
}
.button2{
    background-color:rgb(240,89,49);
    color: white;
    border: 0;
    font-size: 15px;
    padding: 15px 25px;
    margin-right: 15px;
    border-radius: 12px;
}
/* energy partner */
.partner{
    width: 100%;
    /* height: 300px; */
    margin-bottom: 50px;
    /* border: 1px solid red; */
    align-content: center;
}
.partnerinner{
    width: 80%;
    /* height: 350px; */
    padding: 15px 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    align-content: center; */
    border: 20px solid rgb(235,243,237);
    text-align: center;
    border-radius: 12px;
    /* border: 1px solid red; */
}
.partnerbox{
    width: 50%;
    align-content: center;
}
.partnerbox1{
    width: 50%;
    display: flex;
    justify-content: center;
}
.partneritem{
    width: 50%;
    text-align: left;
    /* height: 250px; */
    /* border: 1px solid red; */
}
.partneritem img{
    background-color: var(--bd-color);
    border-radius: 50%;
    width: 40%;
    padding: 15px;
    margin-bottom: 20px;
}

/* OUR SERVICES */
.survices{
    width: 100%;
    padding: 60px 0;
    /* margin-bottom: 50px; */
    background-color: rgb(235,243,237);
}
.survicesinner{
    width:80%;
    /* padding: 50px 0; */
    /* height: 800px; */
    margin: 0 auto;
    align-content: center;
    
}
.survicesbox{
    text-align: center;
    margin-bottom: 20px;
    
}
.survicesbox h5{
    font-size: 17px;
    color: rgb(119,184,15);
}
.survicesbox h1{
    width: 80%;
    margin: 0 auto;
    font-size: 49px;
    font-weight: 600;
    line-height: 1.1em;
    color: #254252;
    padding: 15px 100px;
    font-family: "Playfair Display", Sans-serif;
}
.survicesbox1{
    display: flex;
    justify-content: space-between;
}
.survicesitem{
    width: 31%;
    /* height: 500px; */
    padding: 60px 20px 50px 20px;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
    background-color: #fff;
}
.survicesitem img{
    margin-bottom: 10px;
}
.survicesitem h2{
    margin-top: 10px;
    margin-bottom: 20px;
}
.survicesitem p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
}
.survicesb button{
    background-color: var(--bd-color);
    color: white;
    border: 0;
    font-size: 17px;
    padding: 15px 25px;
    border-radius: 12px;
}
/* video */
.video{
    width: 100%;
    height: 600px;
    /* margin-bottom: 50px; */
    background-image: url(/image/slider-default3.jpg);
    background-repeat: no-repeat; 
    background-size: 100%;

}
.videoinner{
    width: 80%;
    position: relative;
    top: 170px;
    margin: 0 auto;
    text-align: center;
   
}
.bi-play-circle-fill{
  
    font-size: 100px;
    color: rgb(255,94,21);
    margin-bottom: 10px;
    border-radius: 50%;
    /* border: 5px solid gainsboro; */
    /* align-content: center; */
}
.videoitem h1{
    width: 60%;
    margin: 0 auto;
    font-size: 60px;
    padding: 15px 25px;
    /* margin-top: 10px; */
    color: #fff;
    align-content: center;
}
/* our Work */
.work{
    width:100%;
    padding:70px 0;
    background:linear-gradient(90deg,rgb(119,184,15) 60%, #fff 40%);
}

.workinner{
    width:80%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    /* gap:40px;     */
    align-items:center;
}
.workbox{
    width: 33%;
    display: block;
    /* margin-bottom: 20px; */
}
.done{
    margin-bottom: 50px;
}
.done h5{
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}
.done h1{
    font-size: 54px;
    color: white;
    
}

.workbox button{
    text-align: center;
    display: block;
    width: 90%;
    margin-bottom: 25px;
    border: 0;
    font-size: 17px;
    font-weight: bold;
    /* padding: 15px; */
    border-radius: 10px;
    color: var(--gray-color);

    padding: 20px 30px;
}
.eco{
    position: relative;
}
.eco img{ 
    width: 100%;
    border-radius: 20px;
    /* height: 530px;   */
}
.eco1{
    width: 37%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color:white;
    height: 120px;
    position: absolute;
    top: 4150px; 
    left: 748px;
    z-index: 12;
    border-radius: 12px ;
    align-content: center;
    padding: 20px 30px;
}
.ecoitem h4{
    font-size: 34px;
    margin-bottom: 10px;
    color: rgb(37,66,82);
}
.ecoitem p{
    font-size: 16px;
    color: rgb(90,51,51);
}
.ecoitem i{
    font-size: 60px;
    color: var(--bd-color);
}

/* WHY CHOOSE US */
.choose{
    width: 100%;
    padding:70px 0;
    background-color: var(--light-color);
}
.chooseinner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.choosebox{
    width: 45%;
}
.choosebox1{
    width: 43%;
    display: block;
    
}
.choose-item{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    background-color: white; 
    padding: 35px;
    border-radius: 10px;
}

.choose1{
    background-color:var(--bd-color);
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
}
.itembox{
    display: block;
}
.choosebox h4{
    color: var(--bd-color);
    margin-bottom: 10px;
}
.choosebox h1{
    color: var(--lightblue-color);
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 15px;
}
.choosebox p{
    color: var(--gray-color);
    margin-bottom: 25px;
    
}
.chooseimg img{
    border-radius: 15px;
}
.itembox{
    padding: 15px;
}
.itembox h2{
    color: var(--lightblue-color);
    margin-bottom: 10px;
}
/* WHAT WE DO */
.we{
    width: 100%;
    padding: 70px 0;
}
.weinner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.weinnerbox {
    width: 45%;
}
.we-item h3{
    color: var(--bd-color);
    margin-bottom: 10px;
}
.we-item h1{
    color: var(--lightblue-color);
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 25px;
}
.we-item1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.iteminnerbox{
    width: 140px;
    border:15px solid var(--light-color);
    padding: 40px 20px 40px  ;
    border-radius:50%;
    margin-bottom: 20px;
    color: var(--bd-color);
    /* text-align: center; */
}
.iteminner{
    margin-top: 20px;
    text-align: center;
    width: 30%;
}
.iteminner h2{
    margin-top: 10px;
    padding: 12px;
}
/* Eco Friendly */
.ecoi{
    width: 100%;
    /* padding: 60px 0; */
    position: relative;
    /* top: 6000px; */
    z-index: 2;
   
    
}
.ecoinner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 20px solid var(--light-color);
    border-radius: 20px;
     background-color: white;

}
.eco-item{
    display: flex;
    justify-content: space-between;
    
}
.eco-item h1{
    color: var(--light-color);
    font-size: 120px;
}
.ecobox{
    padding: 60px;
    border-right: 1px solid var(--light-color);
}

.ecoimage img{
    width:150px ;
}
.ecobox h2{
    color: var(--lightblue-color);
    margin-bottom: 15px;
}
.ecobox p{
    color: var(--gray-color);
}
/* SPECIAL OFFER */
.special{
    width: 100%;
    /* position: absolute;
    top: px;
    z-index:44 ; */
    position: relative;
    /* bottom: 60px; */
    /* top: 20px; */

    padding: 80px 0;
    background-image: url(/image/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:darken;
    background-color: rgba(0, 0, 0, 0.278);

    
}
.specialinner{
    width: 80%;
    display: block;
    justify-content: center;
    margin:0 auto;
    text-align: center;
    color: white;
}

.specialinner h1{
    color: white;
    font-size: 50px;
    
}
.specialbox{
    margin-top: 20px;
}

.white{
    border: 0;
    background-color: white;
    font-size: 26px;
    padding: 12px 20px;
    border-radius: 12px;
}
.orange{
    margin-left: 20px;
    border: 0;
    background-color:var(--orange-color);
    font-size: 26px;
    padding: 12px 20px;
    color: white;
    border-radius: 12px;
}

/* OUR BENEFITS */
.benefit{
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between;   */
}
.benefitinner{
    display: flex;
    
}
.benefitbox{
    width: 45%;
    
    background-image: url(/image/gallery_image6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.benefit-icon{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 70px;
    align-content: center;
}
.benefitbox1{
    width: 50%;
    padding: 80px 90px 80px 80px  ;
}
.benefitbox1 h3{
    color: var(--bd-color);
}
.benefitbox1 h2{
    color: var(--lightblue-color);
    font-size: 38px;
    padding:10px 20px 0 0 ;
}
.benefitbox1 p{
    margin-top: 10px;
    color: var(--gray-color);
    margin-bottom: 20px;
}

.benefit-item{
    display: flex;
    justify-content: space-between;
}
.benefit-image img{
    padding: 20px 20px;
    background-color: var(--bd-color);
    border-radius: 50%;
}
.bebefit-item-box{
    padding: 15px;
}
.bebefit-item-box h3{
    margin-bottom: 15px;
    color: var(--lightblue-color);

}

/* OUR TESTIMONIAL */
.testimonal{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.testimonalinner{
    width: 55%;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 80px;
}
.testimonalinner1{
    width: 50%;
}
.testimonalinner1 img{
    width: 100%;

}
.tech-item{
    display: flex;
    justify-content: space-between;
}
.tech-item-box{
    width: 50%;
}
.bi-quote {
    font-size: 100px;
    color:var(--bd-color);
}
.brown{
    display: flex;
    padding: 20px 0 0 0;
}
.brown img{
    border-radius: 50%;
    width: 80px;
    /* padding: 15px 20px; */
}
.tech-item-box h2{
    color: var(--bd-color);
    margin-bottom: 20px;
}
.tech-item-box h1{
    font-size:38px ;
    color: var(--lightblue-color);
    margin-bottom: 20px;
}
.Lorem{
    margin-top: 50px;
    color: var(--gray-color);
}

/* OUR TEAM MEMBER */
.team{
    width: 100%;
    padding: 70px 0;
    background-color: var(--light-color);
}
.teaminner{
    width: 80%;
    margin: 0 auto;
}
.teaminner1{
    text-align: center;
}
.teaminner2{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.teaminner1 h3{
    color: var(--bd-color);
    margin-bottom: 15px;
}
.teaminner1 p{
    color: var(--lightblue-color);
    font-size:48px ;
    font-weight: 500;
}
.teambox h1{
    color: var(--lightblue-color);
}
.teambox p{
    color: var(--bd-color);
}

/* FROM THE BLOG */
.blog{
    width: 100%;
    padding: 70px 0;
}
.bloginner{
    width: 80%;
    margin: 0 auto;
}
.blogbox{
    text-align: center;
}
.blogbox1{
    display: flex;
    justify-content: space-between;
}
.blog-item{
    padding: 20px;   
}
.blogbox1 img{
    width: 100%;
}
.blogbox h3{
    color: var(--bd-color);
    margin-bottom: 10px;
}
.blogbox h1{
    color: var(--lightblue-color);
    font-size: 48px;
    font-weight: 500;
    padding:10px 300px 20px 310px;
}
.blog-itemp{
    background-color: var(--light-color);

}
.blog-itemp h4{
    padding: 10px 20px;
    font-size: 18px;
    color: var(--lightblue-color);
}
.blog-itemp p{
    margin-top: 10px;
     padding: 10px 20px;
    margin-bottom: 20px;
    color: var(--gray-color);
}
/* last */
.last{
    width: 100%;
    background-color: rgb(1,45,11);
}
.lastinner{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    color: white;
}
.lastbox{
    width: 25%;
    padding: 0 20px 10px 20px;
}
.lastbox li{
    list-style-type: none;
    margin-top: 10px;
}
.lastbox p{
    margin-top: 10px;
}
.last-item a{
    margin-top: 10px;
    border-radius: 50%;
    padding: 12px 15px;
    color: white;
    background-color:rgb(51,114,82) ;

}
.lastp {
    margin-bottom: 20px;
   

}
/* footer */
.footer{
    width: 100%;
    padding: 20px 0;
    background-color: var(--bd-color);
}
.footerinner{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}
/* left */
.left{
    position: fixed;
    bottom: 48px;
    right: 20px;
    background-color:var(--bd-color);
    padding:8px 10px ;
    border-radius: 50%;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
/* mobile view */
 /* .mobile-view{
    width: 80%;
    margin: 0 auto;
    display: flex;
    color: white;
    justify-content: space-between;
}  */
@media screen and (min-width:768px) {
    .mobile-view {
        display: none;
    }
}



@media screen and (max-width:768px) {
    .headinner{
        
        width: 100%;
        margin: 0 auto;
        padding-left:5px ;
    }
    .energyinner{
        width: 100%;
        margin: 0 auto;
         padding :5px ;
    }
    .navarinner{
        display: none;
    }
    .navar{
        width: 100%;
    }
    .mobile-view{
        width: 100%;
        color: white;
        margin: 0 auto;
        padding: 10px 20px 10px 20px;
        background-color: var(--bd-color);
        display: flex;
        justify-content: space-between;
    }
    .mobile-view i{
        margin-left:50px;
        margin-right:50px ;
        font-size: 30px;
    }
    .image{
        height: 500px;
        
    }
    .iitem{
        display: block;
        position: relative;
        top: 89px;
        padding:25px 10px;
        width: 90%;
    }
    .more button{
        padding: 8px 15px;

    }
    .rakeshinner{
        width: 90%;
        display: block;
    }
    .ourbox h1{
        padding: 5px 10px;
        width: 100%;
    }
    .ourbox2{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .ouritem{
        width: 48%;
        margin-bottom: 20px;
    }
    .aboutinner{
        display: block;
        width:90%;
        margin: 0 auto;
        display:flex ;
        justify-content: space-between;
    }
    .aboutbox{
        width: 50%;
        /* margin: 0 auto; */
    }
    .design1 img{
        width: 90%;
        display: block;
        position: relative;
    }
    .design2 img{
        position: absolute;
        top: 1775px;
        left: 160px;
        z-index: 2;
    }
    .design3 img{
        width: 180px;
        position: absolute;
        top: 390px;
        right: 59px;
        z-index: 3;
    }
    .partnerinner{
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .partner{
        width: 100%;
        display: block;
    }
    .partnerinner{
        width: 90%;
        display: flex;

        padding: 0px;
        text-align: center;
    }
    .partneritem{
        padding: 10px;
        /* text-align:justify ; */
    }
    .survices{
        width: 100%;
        display: block;
    }
    .survicesinner{
        width: 90%;
        margin: 0 auto;
        /* padding: 50px; */
    }
    .survicesbox1{
        width: 100%;
    }
    .survicesitem{
        width: 32%;
    }
    .video{
        display: block;
        width: 100%;
        height:auto;
    }

    .videoinner{
        width: 90%;
        position: relative;
        top: 1px;
        margin: 0 auto;
        text-align: center;
    }
    .videoitem h1{
        padding:0px ;
    }
    .work{
        width: 100%;
        padding: 50px 0;
        display: block;
    }
    .workinner{
        width: 90%;
        margin: 0 auto;
    }
    .workbox{
    width: 45%;
    display: block;
    }
    .workbox1{
        width: 55%;
    }
    .eco1{
        position: absolute;
        top: 4370px; 
        left: 400px;
        z-index: 1;
        height: 95px;
        padding: 10px 20px;
    }
    .eco1 h4{
        font-size: 26px;
    }
    .choose{
        width: 100%;
        display: block;
    }
    .chooseinner{
        width: 90%;
    }
    .chooseimg img{
        width: 100%;
    }
    .choose-item{
        width: 100%;
        display: flex;
        padding: 15px;
        justify-content: space-between;
        background-color: white; 
        border-radius: 10px;
    }
    .choosebox1{
        width: 50%;
        display: block;   
    }
    .choose1{
        margin-top: 10px;
        padding: 10px;
        height: 100px;
        
    }
    .we{
        width: 100%;
        display: block;
    }
    .weinner{
        width: 90%;
        margin: 0% auto;
    }
    /* .weinnerbox{
        width: 45%;
    } */
    .weinnerbox img{
        width: 100%;
    }
   
    .iteminnerbox{
        width: 100px;
        border:10px solid var(--light-color);
        padding: 20px 10px 20px  ;
        border-radius:50%;
        margin-bottom: 20px;
        color: var(--bd-color);
    }
    .iteminner{
        margin-top: 20px;
        text-align: center;
        width: 30%;
    }
    .iteminner h2{
        margin-top: 10px;
        padding: 1px;
        font-size: 18px;
        color: var(--lightblue-color);
    }
    .ecoi{
        width: 100%;
        display: block;
    }
    .ecoinner{
        width: 90%;
        margin: 0 auto;
    }
    .ecobox{
        padding: 10px;
    }
    .ecoimage img{
        width: 90%;
        
    }
    .special{
        width: 100%;
        display: block;
    }
    .benefit{
        width: 100%;
        display: block;

    }
    .benefitbox {
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .benefitbox1{
        width: 45%;
        padding: 20px 10px 20px 10px  ;
    }
    .testimonal{
        width: 100%;
    }
    .testimonalinner{
        width: 55%;
        padding: 10px;
    }
    .tech-item-box{
        width: 45%;
    }
    .lorem{
        margin: 0px;
    }
    .team{
        width: 100%;
        display: block;
    }
    .teaminner{
        width: 90%;
    }
    .teambox img{
        width: 100%;
        padding:10px;
    }
    .blog{
        width: 100%;
        display: block;
    }
    .bloginner{
        width: 90%;
    }
    .blogbox h1{
        padding: 0px;
    }
    .last{
        width: 100%;
        /* display: block; */
    }
    .lastinner{
        width: 90%;
        display:flex;
        flex-wrap: wrap;
    }
    .lastbox{
        width: 50%;
    }
}
/* mobile */
@media (max-width: 376px) {
  .headinner,
  .headbox,
  .headbox1,
  .boxinner,
  .media {
    width: 100%;
    display: block;
    text-align: center;
  }
  .head{
    margin-bottom: 0;
  }
  .boxinner {
    margin-bottom: 6px;
  }
  .media a {
    display: inline-block;
    margin: 0 6px;
  }
  .energy,
  .energyinner,
  .energybox,
  .energybox1{
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .info{
    width: 100%;
    margin-bottom: 10px;
  }
  .navar{
    width: 100%;
    display: block;
    position: absolute;
    top: 380px;
  }
  .mobile-view{
    padding: 10px 0;
  }
  .image,
  .imageinner,
  .iitem,
  .more{
    display: block;
  }
  .image{
    height: 330px;
  }
  .iitem h1{
    font-size: 30px;
  }
  .rakesh,.rakeshinner,.ourbox,
  .ourbox2{
    display: block;
  }
  .ouritem{
    width: 100%;
    padding: 10px;
  }
  .aboutinner{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .aboutbox{
    width: 100%;
    width: 100%;
    position: relative;
  }
  
  .design1 img{
    width: 100%;
    height: auto;

  }
  .design2 img{
    position: absolute;
    top:0;
    width: 50%;
  }
  .design3{
    display: none;
  }
  
  .aboutbox h5 {
    font-size: 14px;
    margin-top: 10px;
  }
  .aboutbox h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .aboutbox p {
    font-size: 14px;
    line-height: 22px;
  }
  .button1{
    margin-bottom: 20px;
  }
   .partner,
  .partnerbox,
  .partnerinner {
    display: block;
    width: 100%;
  }
  .partnerbox1{
    display: block;
    width: 100%;
  }
  .partneritem{
    width: 100%;
    text-align: center;
  }
  .survices,
  .survicesinner,
  .survicesbox,
  .survicesbox1,
  .survicesitem{
    width: 100%;
    display: block;
  }
  .survicesbox h1{
    padding: 1px;
    font-size: 30px;
  }
  .video,
  .videoinner,
  .videoitem{
    width: 100%;
    display: block;
  }
  .video {
    height: auto;
    background-size: cover;
  }
  .videoitem h1{
    font-size: 30px;
    
  }
  .work,
  .workinner,
  .workbox{
    display: block;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgb(119, 184, 15) 60%,rgb(119, 184, 15)40%);
  }
  .workbox1{
    width: 100%;
  }
  .eco img{
    width: 100%;
  }
  .eco1{
    width: 90%;
    height: auto;
    position:absolute;
    top: 6820px;
    left: 10px;
    padding: 10px 20px;
    z-index: 12;
  }
  .eco1 h4{
    font-size: 25px;
  }
  .choose{
    padding: 20px;
  }
  .chooseinner,
  .choosebox,
  .choosebox1{
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .we{
    padding: 10px;
  }
  .weinner,.weinnerbox{
    width: 100%;
    display: block;
  }
  .ecoi,.ecoinner,.ecobox{
    width: 100%;
    display: block;
  }
  .specialinner h1{
    font-size: 30px;
  }
  .white{
    margin-bottom: 30px;
  }
  .benefit,.benefitinner,.benefitbox,
  .benefitbox1,.benefit-item{
    width: 100%;
    display: block;
    text-align: center;
  }
  .benefit-icon{
    margin: 0;
    margin-top: 10px;
  }
  .testimonal,.testimonalinner,
  .testimonalinner1,.tech-item,.tech-item-box{
    width: 100%;
    display: block;

  }
  .team{
    padding: 20px;
  }
  .teaminner,.teaminner2{
    width: 100%;
    display: block;
  }
  .blog{
    padding: 20px;
  }
  .bloginner,.blogbox1{
    width: 100%;
    display: block;
  }
  .blog-item{
    padding: 10px;
  }
  .last,.lastinner,.lastbox{
    width: 100%;
    display: block;
  }
  .left{
    position: fixed;
    

  }
}

/* hhubhb */
@media (max-width: 320px) {
  .headinner,
  .headbox,
  .headbox1,
  .boxinner,
  .media {
    
    display: block;
    text-align: center;
  }
  .boxinner {
    margin-bottom: 6px;
  }
  .media a {
    display: inline-block;
    margin: 0 6px;
  }
  .energy,
  .energyinner,
  .energybox,
  .energybox1{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  .navar{
    width: 100%;
    display: block;
    position: absolute;
    top: 380px;
  }
  .image,
  .imageinner,
  .iitem,
  .more{
    display: block;
  }
  .iitem h1{
    font-size: 30px;
  }
  .rakesh,.rakeshinner,.ourbox,
  .ourbox2{
    display: block;
  }
  .ourbox h1{
    font-size: 30px;
  }
  .ouritem{
    width: 100%;
    padding: 10px;
  }
  .aboutinner{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .aboutbox{
    width: 100%;
    width: 100%;
    position: relative;
  }
  
  .design1 img{
    width: 100%;
    height: auto;

  }
  .design2 img{
    width: 50%;
    position: absolute;
    top:0;
    left: 130px;
  }
  .design3{
    display: none;
  }
  
  .aboutbox h5 {
    font-size: 14px;
    margin-top: 10px;
  }
  .aboutbox h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .aboutbox p {
    font-size: 14px;
    line-height: 22px;
  }
  .button1{
    margin-bottom: 20px;
  }
   .partner,
  .partnerbox,
  .partnerinner {
    display: block;
    width: 100%;
  }
  .partnerbox1{
    display: block;
    width: 100%;
  }
  .partneritem{
    width: 100%;
  }
  .survices,
  .survicesinner,
  .survicesbox,
  .survicesbox1,
  .survicesitem{
    width: 100%;
    display: block;
  }
  .survicesbox h1{
    padding: 1px;
    font-size: 30px;
  }
  .video,
  .videoinner,
  .videoitem{
    width: 100%;
    display: block;
  }
  .video {
    height: auto;
    background-size: cover;
  }
  .videoitem h1{
    font-size: 30px;
    
  }
  .work,
  .workinner,
  .workbox{
    display: block;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgb(119, 184, 15) 60%,rgb(119, 184, 15)40%);
  }
  .workbox1{
    width: 100%;
  }
  .eco img{
    width: 100%;
  }
  .eco1{
    width: 90%;
    height: auto;
    position:absolute;
    top: 6970px;
    left: 10px;
    z-index: 12;
    padding: 10px 20px;
  }
  .eco1 h4{
    font-size: 25px;
  }
  .choose{
    padding: 20px;
  }
  .chooseinner,
  .choosebox,
  .choosebox1{
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .we{
    padding: 10px;
  }
  .weinner,.weinnerbox{
    width: 100%;
    display: block;
  }
  .ecoi,.ecoinner,.ecobox{
    width: 100%;
    display: block;
  }
  .specialinner h1{
    font-size: 30px;
  }
  .white{
    margin-bottom: 30px;
  }
  .benefit,.benefitinner,.benefitbox,
  .benefitbox1,.benefit-item{
    width: 100%;
    display: block;
    text-align: center;
  }
  .benefit-icon{
    margin: 0;
    margin-top: 10px;
  }
  .testimonal,.testimonalinner,
  .testimonalinner1,.tech-item,.tech-item-box{
    width: 100%;
    display: block;

  }
  .team{
    padding: 20px;
  }
  .teaminner,.teaminner2{
    width: 100%;
    display: block;
  }
  .blog{
    padding: 10px;
  }
  .bloginner,.blogbox1{
    width: 100%;
    display: block;
  }
  .blog-item{
    padding: 10px;
  }
  .last,.lastinner,.lastbox{
    width: 100%;
    display: block;
  }
}



/* 425 */
@media screen and (max-width: 426px) {
  .headinner,
  .headbox,
  .headbox1,
  .boxinner,
  .media, .ourbox2 {
    display: block;
    text-align: center;
  }
  .boxinner {
    margin-bottom: 6px;
  }
  .media a {
    display: inline-block;
    margin: 0 6px;
  }
  .energy,
  .energyinner,
  .energybox,
  .energybox1{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  .navar{
    width: 100%;
    display: block;
    position: absolute;
    top: 380px;
  }
  .image,
  .imageinner,
  .iitem,
  .more{
    display: block;
  }
  .iitem h1{
    font-size: 30px;
  }
  .rakesh,.rakeshinner,.ourbox,
  .ourbox2{
    display: block;
  }
  .ourbox h1{
    font-size: 30px;
  }
  .ouritem{
    width: 100%;
    padding: 10px;
  }
  .aboutinner{
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .aboutbox{
    width: 100%;
    width: 100%;
    position: relative;
  }
  
  .design1 img{
    width: 100%;
    height: auto;

  }
  .design2 img{
    width: 50%;
    position: absolute;
    top:0;
    left: 130px;
  }
  .design3{
    display: none;
  }
  
  .aboutbox h5 {
    font-size: 14px;
    margin-top: 10px;
  }
  .aboutbox h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .aboutbox p {
    font-size: 14px;
    line-height: 22px;
  }
  .button1{
    margin-bottom: 20px;
  }
   .partner,
  .partnerbox,
  .partnerinner {
    display: block;
    width: 100%;
  }
  .partnerbox1{
    display: block;
    width: 100%;
  }
  .partneritem{
    width: 100%;
  }
  .survices,
  .survicesinner,
  .survicesbox,
  .survicesbox1,
  .survicesitem{
    width: 100%;
    display: block;
  }
  .survicesbox h1{
    padding: 1px;
    font-size: 30px;
  }
  .video,
  .videoinner,
  .videoitem{
    width: 100%;
    display: block;
  }
  .video {
    height: auto;
    background-size: cover;
  }
  .videoitem h1{
    font-size: 30px;
    
  }
  .work,
  .workinner,
  .workbox{
    display: block;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgb(119, 184, 15) 60%,rgb(119, 184, 15)40%);
  }
  .workbox1{
    width: 100%;
  }
  .eco img{
    width: 100%;
  }
  .eco1{
    width: 90%;
    height: auto;
    position:absolute;
    top: 6970px;
    left: 10px;
    z-index: 12;
    padding: 10px 20px;
  }
  .eco1 h4{
    font-size: 25px;
  }
  .choose{
    padding: 20px;
  }
  .chooseinner,
  .choosebox,
  .choosebox1{
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .we{
    padding: 10px;
  }
  .weinner,.weinnerbox{
    width: 100%;
    display: block;
  }
  .ecoi,.ecoinner,.ecobox{
    width: 100%;
    display: block;
  }
  .specialinner h1{
    font-size: 30px;
  }
  .white{
    margin-bottom: 30px;
  }
  .benefit,.benefitinner,.benefitbox,
  .benefitbox1,.benefit-item{
    width: 100%;
    display: block;
    text-align: center;
  }
  .benefit-icon{
    margin: 0;
    margin-top: 10px;
  }
  .testimonal,.testimonalinner,
  .testimonalinner1,.tech-item,.tech-item-box{
    width: 100%;
    display: block;

  }
  .team{
    padding: 20px;
  }
  .teaminner,.teaminner2{
    width: 100%;
    display: block;
  }
  .blog{
    padding: 10px;
  }
  .bloginner,.blogbox1{
    width: 100%;
    display: block;
  }
  .blog-item{
    padding: 10px;
  }
  .last,.lastinner,.lastbox{
    width: 100%;
    display: block;
  }
}

